body {
  font-family: Orbitron, sans-serif;
  text-align: center;
  color:paleturquoise;
}

h1 {
  text-shadow: 0px 0px 5px black;
}

.hero {
  display: block;
  background-image: url("images/universe.jpg");
  background-size: cover;
  padding: 20px 0 40px 0;
}

.nasa {
  width: 10%;
}

.underline {
  text-decoration: underline;
}

.btn {
  color:white;
  text-shadow: 0px 0px 15px darkcyan;
  font-family: inherit;
  font-weight: 800;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 12px;
  background: white;
  border:4px solid paleturquoise;
  border-radius: 15%;
}

.terms {
  text-shadow: 2px 2px 2px darkcyan;
}
