
body {
  font-family: 'Happy Monkey', cursive;
  color:#fff;
  /* background: #245b6b; */
  background: linear-gradient(#5adee5, #e2f9fb);
  text-align: center;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 22px;
}
h1, h2, h3, h4, p {
  text-shadow: 0px 0px 2px black;
}
.pink-back {
  background: #ffcb0f;
}
#header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#today {
  font-size: 45px;
  text-shadow: 0px 0px 2px black;

}
#face {
  width:250px;
  border-radius:50%;
  border: 6px solid #ffcf0f;
  box-shadow: 1px -1px lightslategray;
  margin-bottom: 10px;
}
#age {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px -1px lightslategray;
  margin: 5px 0 14px 0;
}
#date {
  padding: 3px 7px;
  border-radius: 5px;
  box-shadow: 1px -1px lightslategray;
  margin-top: 0px;
}
.gift-section {
  margin-top:40px;
}
.gift-title {
  margin-bottom:10px;
}
.gift-hint {
  margin-top:5px;
}
.gift-box {
  background-image: url("images/gift-cover.jpg");
  background-size: cover;
  border-radius: 10px;
  border: 10px solid white;
  width: 425px;
  height:325px;
  display:block;
  margin: 10px auto;
}
#gift-happy:hover {
  background-image: url("images/lets-rock-twin-peaks.gif");
  background-repeat: no-repeat;
  background-position: center;
}
#gift-hot:hover {
  background-image: url("images/swoon.gif");
  background-repeat: no-repeat;
  background-position: center;
}
#gift-describe:hover {
  background-image: url("images/perfect.gif");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
#gift-badass:hover {
  background-image: url("images/misery.gif");
  background-repeat: no-repeat;
  background-position: center;
}
#gift-cheers {
  height: 370px;
  width: 650px;
}
#gift-cheers:hover {
  background-image: url("images/cheers.gif");
  /* background-size:contain; */
  background-repeat: no-repeat;
  background-position: center;
}
.rule {
  color:#fff;
  width:625px;
  /* height :12px; */
  border-style: 3px solid #fff;
  margin-top:30px;
}
#footer {
  margin-top: 35px;
}
#footer h1 {
  font-size: 40px;
  text-shadow: 0px 0px 3px black;
  margin-bottom: 15px;
  
}
#footer h2 {
  font-size: 32px;
  text-shadow: 0px 0px 3px black;
  margin-top: 0;
}


